# DATA ANALYSIS OF COVID-19 DATASET

## Import the required modules

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
sns.set(color_codes=True)
import matplotlib.pyplot as plt
from matplotlib import style
plt.style.use(['dark_background'])

## Tabulation

In [3]:
url = 'https://api.covid19india.org/states_daily.json'

In [4]:
import urllib.request

In [5]:
urllib.request.urlretrieve(url,'data.json')

('data.json', <http.client.HTTPMessage at 0x1fe73e3d6a0>)

In [6]:
covid_data=pd.read_json('data.json')

In [7]:
covid_data

                                          states_daily
0    {'an': '0', 'ap': '1', 'ar': '0', 'as': '0', '...
1    {'an': '0', 'ap': '0', 'ar': '0', 'as': '0', '...
2    {'an': '0', 'ap': '0', 'ar': '0', 'as': '0', '...
3    {'an': '0', 'ap': '0', 'ar': '0', 'as': '0', '...
4    {'an': '0', 'ap': '0', 'ar': '0', 'as': '0', '...
..                                                 ...
919  {'an': '0', 'ap': '219', 'ar': '5', 'as': '31'...
920  {'an': '0', 'ap': '4', 'ar': '0', 'as': '0', '...
921  {'an': '3', 'ap': '94', 'ar': '0', 'as': '15',...
922  {'an': '4', 'ap': '232', 'ar': '0', 'as': '42'...
923  {'an': '0', 'ap': '1', 'ar': '0', 'as': '1', '...

[924 rows x 1 columns]

In [8]:
import json

In [9]:
with open('data.json') as f:
    data=json.load(f)

In [10]:
data=data['states_daily']

In [11]:
covid_data=pd.json_normalize(data)

In [12]:
covid_data

,an,ap,ar,as,br,ch,ct,date,dateymd,dd,...,sk,status,tg,tn,tr,tt,un,up,ut,wb
0,0,1,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Confirmed,1,1,0,81,0,12,0,0
1,0,0,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Recovered,0,0,0,9,0,4,0,0
2,0,0,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Deceased,0,0,0,2,0,0,0,0
3,0,0,0,0,0,0,0,15-Mar-20,2020-03-15,0,...,0,Confirmed,2,0,0,27,0,1,0,0
4,0,0,0,0,0,0,0,15-Mar-20,2020-03-15,0,...,0,Recovered,1,0,0,4,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
919,0,219,5,31,238,41,970,14-Jan-21,2021-01-14,0,...,60,Recovered,238,826,6,15848,0,539,187,694
920,0,4,0,0,2,1,10,14-Jan-21,2021-01-14,0,...,1,Deceased,1,4,0,189,0,14,3,17
921,3,94,0,15,346,26,521,15-Jan-21,2021-01-15,0,...,13,Confirmed,202,621,5,15151,0,472,141,623
922,4,232,0,42,371,33,1009,15-Jan-21,2021-01-15,0,...,12,Recovered,253,805,4,16801,0,956,234,656
923,0,1,0,1,2,0,7,15-Jan-21,2021-01-15,0,...,0,Deceased,2,5,1,188,0,15,6,16

In [13]:
df=covid_data

In [14]:
df.date=pd.to_datetime(df.date)

In [15]:
df

,an,ap,ar,as,br,ch,ct,date,dateymd,dd,...,sk,status,tg,tn,tr,tt,un,up,ut,wb
0,0,1,0,0,0,0,0,2020-03-14,2020-03-14,0,...,0,Confirmed,1,1,0,81,0,12,0,0
1,0,0,0,0,0,0,0,2020-03-14,2020-03-14,0,...,0,Recovered,0,0,0,9,0,4,0,0
2,0,0,0,0,0,0,0,2020-03-14,2020-03-14,0,...,0,Deceased,0,0,0,2,0,0,0,0
3,0,0,0,0,0,0,0,2020-03-15,2020-03-15,0,...,0,Confirmed,2,0,0,27,0,1,0,0
4,0,0,0,0,0,0,0,2020-03-15,2020-03-15,0,...,0,Recovered,1,0,0,4,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
919,0,219,5,31,238,41,970,2021-01-14,2021-01-14,0,...,60,Recovered,238,826,6,15848,0,539,187,694
920,0,4,0,0,2,1,10,2021-01-14,2021-01-14,0,...,1,Deceased,1,4,0,189,0,14,3,17
921,3,94,0,15,346,26,521,2021-01-15,2021-01-15,0,...,13,Confirmed,202,621,5,15151,0,472,141,623
922,4,232,0,42,371,33,1009,2021-01-15,2021-01-15,0,...,12,Recovered,253,805,4,16801,0,956,234,656
923,0,1,0,1,2,0,7,2021-01-15,2021-01-15,0,...,0,Deceased,2,5,1,188,0,15,6,16

In [16]:
df.set_index('date',inplace=True)

In [17]:
df.drop('dateymd',axis=1,inplace=True)

In [18]:
df

,an,ap,ar,as,br,ch,ct,dd,dl,dn,...,sk,status,tg,tn,tr,tt,un,up,ut,wb
date,,,,,,,,,,,,,,,,,,,,,
2020-03-14,0,1,0,0,0,0,0,0,7,0,...,0,Confirmed,1,1,0,81,0,12,0,0
2020-03-14,0,0,0,0,0,0,0,0,1,0,...,0,Recovered,0,0,0,9,0,4,0,0
2020-03-14,0,0,0,0,0,0,0,0,1,0,...,0,Deceased,0,0,0,2,0,0,0,0
2020-03-15,0,0,0,0,0,0,0,0,0,0,...,0,Confirmed,2,0,0,27,0,1,0,0
2020-03-15,0,0,0,0,0,0,0,0,1,0,...,0,Recovered,1,0,0,4,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-14,0,219,5,31,238,41,970,0,390,0,...,60,Recovered,238,826,6,15848,0,539,187,694
2021-01-14,0,4,0,0,2,1,10,0,4,0,...,1,Deceased,1,4,0,189,0,14,3,17
2021-01-15,3,94,0,15,346,26,521,0,295,2,...,13,Confirmed,202,621,5,15151,0,472,141,623
2021-01-15,4,232,0,42,371,33,1009,0,427,0,...,12,Recovered,253,805,4,16801,0,956,234,656
2021-01-15,0,1,0,1,2,0,7,0,10,0,...,0,Deceased,2,5,1,188,0,15,6,16

In [35]:
df_=df.tail(3)

In [36]:
df_

,an,ap,ar,as,br,ch,ct,dd,dl,dn,...,rj,sk,tg,tn,tr,tt,un,up,ut,wb
status,,,,,,,,,,,,,,,,,,,,,
Confirmed,3,94,0,15,346,26,521,0,295,2,...,310,13,202,621,5,15151,0,472,141,623
Recovered,4,232,0,42,371,33,1009,0,427,0,...,377,12,253,805,4,16801,0,956,234,656
Deceased,0,1,0,1,2,0,7,0,10,0,...,0,0,2,5,1,188,0,15,6,16

In [28]:
df_.reset_index(drop=True,inplace=True)

In [29]:
df

,an,ap,ar,as,br,ch,ct,dd,dl,dn,...,sk,status,tg,tn,tr,tt,un,up,ut,wb
0,0,1,0,0,0,0,0,0,7,0,...,0,Confirmed,1,1,0,81,0,12,0,0
1,0,0,0,0,0,0,0,0,1,0,...,0,Recovered,0,0,0,9,0,4,0,0
2,0,0,0,0,0,0,0,0,1,0,...,0,Deceased,0,0,0,2,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,Confirmed,2,0,0,27,0,1,0,0
4,0,0,0,0,0,0,0,0,1,0,...,0,Recovered,1,0,0,4,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
919,0,219,5,31,238,41,970,0,390,0,...,60,Recovered,238,826,6,15848,0,539,187,694
920,0,4,0,0,2,1,10,0,4,0,...,1,Deceased,1,4,0,189,0,14,3,17
921,3,94,0,15,346,26,521,0,295,2,...,13,Confirmed,202,621,5,15151,0,472,141,623
922,4,232,0,42,371,33,1009,0,427,0,...,12,Recovered,253,805,4,16801,0,956,234,656
923,0,1,0,1,2,0,7,0,10,0,...,0,Deceased,2,5,1,188,0,15,6,16

In [37]:
df_.set_index('status',inplace=True)

KeyError: "None of ['status'] are in the columns"

In [31]:
df_=df_.T
df_=df_.apply(pd.to_numeric)

In [34]:
df_.head(3)

status,Confirmed,Recovered,Deceased,Confirmed,Recovered,Deceased,Confirmed,Recovered,Deceased,Confirmed,...,Deceased,Confirmed,Recovered,Deceased,Confirmed,Recovered,Deceased,Confirmed,Recovered,Deceased
an,0,0,0,0,0,0,0,0,0,0,...,0,3,5,0,7,0,0,3,4,0
ap,1,0,0,0,0,0,0,0,0,0,...,2,203,231,1,179,219,4,94,232,1
ar,0,0,0,0,0,0,0,0,0,0,...,0,1,4,0,15,5,0,0,0,0